<h2 mat-dialog-title>Editar Médico</h2>

<form [formGroup]="editDoctorForm">

<div mat-dialog-content>

<mat-form-field>
        <mat-label>Id Doctor</mat-label>
        <input matInput formControlName="id_medico" >
</mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nom_medico">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="ape_medico">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo Documento</mat-label>
    <input matInput formControlName="tip_docum">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Número Documento</mat-label>
    <input matInput formControlName="cod_docum">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="celular">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="direccion">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="editarUnDoctor()" [mat-dialog-close]="data"  type="submit" color="primary" cdkFocusInitial [disabled]="editDoctorForm.invalid">Editar Doctor</button>
</div>

</form>
