<button type="button" (click)="consultarMedicos()" class="btn primary">
    Consultar medicos
</button>

<p>Listado de medicos</p>

<table class="container">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tip. Docum</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medico of medicos">
            <td>{{medico.nom_medico}}</td>
            <td>{{medico.ape_medico}}</td>
            <td>{{medico.tip_docum}}</td>
            <td>{{medico.cod_docum}}</td>
            <td>{{medico.celular}}</td>
            <td>{{medico.direccion}}</td>
            <td>
                <button type="button" (click)="editarMedico(medico)" class="btn primary">Editar</button>
                <button type="button" (click)="eliminarMedico(medico)" class="btn primary">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
