<app-header></app-header>

<!-- Login -->


<div class="container-login">
<div class="login-view">
    <div class="container-logo">
        <img class="imgLogin" src="../../../assets/logos/snake-removebg-preview.png" alt="logo snake ">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" autocomplete="email">
        </mat-form-field>
      
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" autocomplete="current-password">
        </mat-form-field>
      
        <button mat-raised-button class="btnLogin containerBtn btn-goToRegister " aria-label="Go" color="primary" type="submit" >Iniciar sesión</button>
    
      </form>

</div>
</div>


<app-footer></app-footer>

