<app-header></app-header>
<div class="login-view"> <!--ngstyle/ngclass-->
    <div class="container-logo">
        <img class="imgLogin" src="../../../assets/logos/snake-removebg-preview.png" alt="logo snake ">
    </div>
    <div class="container-login">
        <form class="form-login" (ngSubmit)="onSubmit()">
            <label for="email">Email:</label>
            <input class="inputS" type="email" id="mail" [(ngModel)]="email" name="user_mail"
                title="El email es incorrecto" placeholder="ejemplo@ejemplo.com" required autocomplete="username">
            <!-- <div *ngIf="errorMessageEmail" class="error-message-email">{{errorMessageEmail}}</div> -->
            <label for="password">Password:</label>
            <input class="inputS" type="password" [(ngModel)]="password" id="password" name="user_password"
                placeholder="**********"  required autocomplete="current-password">
            <!-- <div *ngIf="errorMessagePassword" class="error-message-password">{{errorMessagePassword}}</div> -->
            <div class="containerBtn">
                <p *ngIf="emailError" class="error-message">{{ emailError }}</p>
                <button class="btnLogin" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>


<app-footer></app-footer>

