<app-header></app-header>
<div class="login-view"> <!--ngstyle/ngclass-->
    <div class="container-logo">
        <img class="imgLogin" src="../../../assets/logos/snake-removebg-preview.png" alt="logo snake ">
    </div>
    <div class="container-login">

        <form class="form-login" (ngSubmit)="onSubmit()">

            <mat-form-field class="form-field" floatLabel="auto" hintLabel="">
                <mat-label for="email">Email</mat-label>
                <input  required autocomplete="username"  matInput #input maxlength="60" placeholder="ejemplo@ejemplo.com" cellspacing="5" class="inputS" type="email" id="mail" [(ngModel)]="email" name="user_mail">
                <div *ngIf="emailError" class="error-message-email">{{emailError}}</div>
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="auto" hintLabel="">

                <mat-label for="password">Password</mat-label>
                <input matInput #input maxlength=""  cellspacing="5"  type="email" id="mail" [(ngModel)]="email" name="user_password" class="inputS" type="password" [(ngModel)]="password" id="password" name="user_password"
                placeholder="**********"  required autocomplete="current-password" >
               <div *ngIf="passwordError" class="error-message-password">{{passwordError}}</div>
           
            </mat-form-field>



        
          
          
            <div class="containerBtn">
                <button mat-raised-button color="primary" class="btnLogin" type="submit">Login</button>
            </div>


        </form>

    </div>
</div>


<app-footer></app-footer>

