
.login-view {
    margin: auto;
    /* padding: 0; */
    /* background-color: #F72C25; */
    background-image: url(../../../assets/fondos/telemedicine.jpeg);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 100vh;
}
.container-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.imgLogin {
    /* display: block; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
    width: 300px;
}

.container-login {
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 5%; */
    /* margin-block-end: 12%; */
    /* background-color: blueviolet; */
    width: 500px;
    height: 400px;
    /* margin-left: 140px; */
    font-size: 30px;
}

.form-login {
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    color:var(--color-2);
}

.inputS {
    width: 90%;
    height: 50px;
    padding-left: 4%;
    border: 2px solid var(--color-2);
    border-radius: 5px;
    margin-block-start: 1%;
    margin-block-end: 8%;
    font-size: 20px;
    /* opacity: 1; */
}

.containerBtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.btnLogin {
    background-color: var(--color-3);
    letter-spacing: 1.5px;
    width: 40%;
    height: 50px;
    padding: 2.2%;
    margin-top: 5%;
    border-radius: 8px;
    color: var(--color-2);
    font-size: 25px;
    font-style: italic;
    justify-content: center;
    /* align-self: center; */
}

.error-message {
    color: var(--color-1);;
}