/* Estilos para los títulos h1 y h2 */
.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  padding: 20px;
}

.container-title h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.container-title h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.container-title img {
  width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
  max-width: 100%; /* Establece un límite máximo para el ancho de la imagen */
  height: auto; /* Hace que la altura se ajuste proporcionalmente al ancho */
}

/* Ajuste para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container-title {
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .container-title {
    padding: 5px;
  }

  .container-title img {
    display: none; /* Oculta la imagen en pantallas más pequeñas */
  }
}
.portada-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: center;
  height: 50%;
}

.imagen-container {
  display: flex;
  justify-content: center;
  align-items: center;
width: 40%;
  margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}

/* .imagen-container img {
  /* width: 100%;
  height: auto; */


.container-title {
  max-width: 60%; /* El contenedor del título ocupa el 60% del contenedor */
  text-align: center; /* Centra el texto */
}

.titulo-h1 {
  font-size: 2em;
}

.titulo-h2 {
  font-size: 1.5em;
}
.servicios-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.servicio-card {
  width: 300px;
  margin: 15px;
}

/* Ajustes adicionales para personalizar las cards de Angular Material */
mat-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

mat-card:hover {
  transform: scale(1.05);
}

mat-card-header,
mat-card-content {
  text-align: center;
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .servicio-card {
    width: 80%;
  }
}