<div class="row m-0">
  <div class="col-12 col-md-6 p-0">
    <div class="img-container">
      <img src="../../../assets/fondos/removebg-preview.png" alt="Imagen del médico" class="d-none d-md-block">      
    </div>      
  </div>
  <div class="col-12 col-md-6 p-0">
    <div class="description-container">
      <h1>Bienvenido a MediClinic </h1>
      <h2>Encantados de poder atenderte... </h2>      
    </div>
  </div>
  <div class="col-12 mt-4">
    <div class="servicios-container">
      <mat-card *ngFor="let servicio of servicios">
        <mat-card-header>
          <mat-card-title>{{ servicio.titulo }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ servicio.imagen }}" alt="{{ servicio.titulo }}">
        <mat-card-content>
          {{ servicio.descripcion }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
</div>
<app-footer></app-footer>