
<div class="container">

  <div class="container__sidebar">
<!-- <mat-sidenav> -->
  <mat-nav-list>

    <!-- <div class="navbar__logo">
      <img class="sidebar__logo--img" src="../../../../assets/logos/snake-removebg-preview.png" alt="imagen de usuario">
    </div> -->

    <a mat-list-item routerLink="/dashboard/doctores">
      <div class="d-flex align-items-center">
        <mat-icon >medication</mat-icon>
        <span class="ms-2">Doctores</span>
      </div>
    </a>

    <a mat-list-item routerLink="/dashboard/pacientes">
      <div class="d-flex align-items-center">
        <mat-icon>account_circle</mat-icon>
        <span class="ms-2">Pacientes</span>
      </div>
    </a>

    <a mat-list-item routerLink="/dashboard/datos-del-paciente">
      <div class="d-flex align-items-center">
        <mat-icon>personal_injury</mat-icon>
        <span class="ms-2">Datos del Paciente</span>
      </div>
    </a>

    <a mat-list-item routerLink="/dashboard/crear-paciente">
      <div class="d-flex align-items-center">
        <mat-icon>person_add</mat-icon>
        <span class="ms-2">Registrar Paciente</span>
      </div>
    </a>

    <a mat-list-item routerLink="/dashboard/nuevo-historial">
      <div class="d-flex align-items-center">
        <mat-icon>library_add</mat-icon>
        <span class="ms-2">Nuevo Historial</span>
      </div>
    </a>

    <a mat-list-item routerLink="/dashboard/historial">
      <div class="d-flex align-items-center">      
        <mat-icon>library_books</mat-icon>
        <span class="ms-2">Historial</span>
      </div>
    </a>

    <a mat-list-item routerLink="/home">
      <div class="d-flex align-items-center">
        <mat-icon>logout</mat-icon>
        <span class="ms-2">Salir</span>
      </div>
    </a>

  </mat-nav-list>

<!-- </mat-sidenav> -->

  </div>

  <div class="container__content">
    
      <router-outlet> </router-outlet>


  </div>

</div>

  

    