.navbar {
  background-color: #93b0d8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__logo {
  width: 70px;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__logo--img {
  margin: 15px;
  width: 101px;
  margin-left: 130px;

}

.nav-list__icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sidebar__icon__user {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
 
  margin-bottom: 30px;

}

.sidebar__icon__logout {
  position: absolute;
  bottom: 40px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: 700;
}
.sidebarDashboard{
  background-color: #93b0d8;
}

.main_container{
  background-color: #93b0d8;
  display: flex;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
} 
.container__sidebar{
  background-color: #9caaea;;
  width: 300px;
}
.container__content{
  background-color: rgb(216, 216, 227);
  width: 100%;
}
