<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
</table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>

  

<div class="example-container">

    <mat-form-field hintLabel="Max 60 characters">
      <mat-label>Enter some input</mat-label>
      <input matInput #input maxlength="10" placeholder="Ex. Nougat">
      <mat-hint align="end">{{input.value.length}}/10</mat-hint>
    </mat-form-field>

  </div>

<!-- ********************************************************** -->

<div [formGroup]="form" class="crea-paciente-details-form">
<!-- input nombre del paciente -->

 <mat-form-field class="form-field" floatLabel="auto" hintLabel="Max 60 caracteres">
    <mat-label>Nombre del Paciente</mat-label>
    <input matInput #input maxlength="60" placeholder="Ex. Diana" formControlName="paciente" type="text" cellspacing="5">
  <mat-error *ngIf="nombrePaciente.hasError('required')">El nombre es obligatorio</mat-error>
  <mat-error *ngIf="nombrePaciente.hasError('minlength')">El nombre debe tener al menos 5 caracteres</mat-error>
  <mat-error *ngIf="nombrePaciente.hasError('maxlength')">El nombre no debe exceder los 60 caracteres</mat-error>

  <mat-hint align="end">
{{nombrePaciente.value?.length}} /60
</mat-hint>

 </mat-form-field>
 
 <!-- input edad del paciente -->
 <mat-form-field class="form-field" floatLabel="auto" align=" end">
    <mat-label>Edad</mat-label>
    <input matInput placeholder="Ex.18" formControlName="paciente" type="text">
  <mat-error *ngIf="nombrePaciente.hasError('required')">Ingresar la edad es obligatorio</mat-error>
 </mat-form-field>

 <!-- fecha -->
<mat-form-field appearance="outline">
    <mat-label>Fecha</mat-label>
<input matInput formControlName="appointment" placeholder="Fecha de Atención" [matDatepicker]="appointmentDate">
    <mat-datepicker-toggle matSuffix [for]="appointmentDate">

    </mat-datepicker-toggle>

    <mat-datepicker #appointmentDate>

    </mat-datepicker>



</mat-form-field>

<!-- O/S -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>O/S</mat-label>
    <input matInput placeholder="" formControlName="OS" type="text">
 </mat-form-field>

<!-- Diag -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Diagnóstico</mat-label>
    <input matInput placeholder="" formControlName="diag" type="text">
 </mat-form-field>

<!-- DNI -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>DNI</mat-label>
    <input matInput placeholder="Ex 11111111" formControlName="DNI" type="text">
 </mat-form-field>

<!-- Domicilio -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Domicilio</mat-label>
    <input matInput placeholder="Ex Calle Juan de ..." formControlName="Domicilio" type="text">
 </mat-form-field>

<!-- Telefono -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Teléfono</mat-label>
    <input matInput placeholder="Ex 4416 5390" formControlName="Tel" type="text">
 </mat-form-field>

<!-- FNac -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Fecha de Nacimiento</mat-label>
    <input matInput placeholder="Ex 31/03/1987" formControlName="FNac" type="text">
 </mat-form-field>

<!-- Hijos -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Cúantos hijos tiene?</mat-label>
    <input matInput placeholder="Hijos" formControlName="Hijos" type="text">
 </mat-form-field>

<!-- cel -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Celular</mat-label>
    <input matInput placeholder="Ex 999 999 999" formControlName="Cel" type="text">
 </mat-form-field>

<!-- Gpo -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>GPO</mat-label>
    <input matInput placeholder="" formControlName="Gpo" type="text">
 </mat-form-field>

<!-- EC -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>EC</mat-label>
    <input matInput placeholder="" formControlName="EC" type="text">
 </mat-form-field>

<!-- Consulta -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Consulta</mat-label>
    <input matInput placeholder="" formControlName="Consulta" type="text">
 </mat-form-field>


<!-- Alergias -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Alergias</mat-label>
    <input matInput placeholder="sinusitis" formControlName="alergias" type="text">
 </mat-form-field>

<!-- MEN -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>MEN</mat-label>
    <input matInput placeholder="" formControlName="MEN" type="text">
 </mat-form-field>

<!-- SÑO -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>SÑO</mat-label>
    <input matInput placeholder="" formControlName="SÑO" type="text">
 </mat-form-field>

<!-- Cirugias -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Cirugías</mat-label>
    <input matInput placeholder="" formControlName="Cirugias" type="text">
 </mat-form-field>

<!-- CPO -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>CPO</mat-label>
    <input matInput placeholder="CPO" formControlName="CPO" type="text">
 </mat-form-field>

<!-- NOC -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>NOC</mat-label>
    <input matInput placeholder="" formControlName="NOC" type="text">
 </mat-form-field>


<!-- Ant Fam -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Ant. Fam</mat-label>
    <input matInput placeholder="AntFam" formControlName="AntFam" type="text">
 </mat-form-field>

<!-- ANS -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>ANS</mat-label>
    <input matInput placeholder="" formControlName="ANS" type="text">
 </mat-form-field>

 <!-- CIG -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>CIG</mat-label>
    <input matInput placeholder="" formControlName="CIG" type="text">
 </mat-form-field>

  <!-- AntPers -->
<mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Ant. Pers</mat-label>
    <input matInput placeholder="" formControlName="AntPers" type="text">
 </mat-form-field>

<!-- radio button -->
<!-- <mat-radio-group class="gender-type" formControlName="genderype">

    <mat-radio-button value="Masculino">Masculino </mat-radio-button>
<mat-radio-button value="Femenino">Femenino </mat-radio-button>

</mat-radio-group> -->


<!-- select -->
<!-- <mat-form-field appearance="fill">
    <mat-select formControlName="genderType" placeholder="Sexo">
        <mat-option >Ninguno</mat-option>
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
    </mat-select>
</mat-form-field> -->

<mat-grid-list cols="5">

<!-- textarea -->
<mat-grid-tile>
    <mat-form-field appearance="outline">
        <mat-label>Síntomas</mat-label>
        <textarea matInput 
            placeholder="" 
            formControlName="symptoms" 
            cdkTextareaAutosize 
            [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7" >
        
        </textarea>
    </mat-form-field>   
</mat-grid-tile>


<mat-grid-tile>
    <mat-form-field appearance="outline">
        <mat-label>Signos</mat-label>
        <textarea matInput 
            placeholder="Signos" 
            formControlName="signs" 
            cdkTextareaAutosize 
            [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7" >
        
        </textarea>
    </mat-form-field>  

</mat-grid-tile>
<mat-form-field appearance="outline">
    <mat-label>Psique</mat-label>
    <textarea matInput 
        placeholder="Psique" 
        formControlName="psique" 
        cdkTextareaAutosize 
        [cdkAutosizeMinRows]="5"
        [cdkAutosizeMaxRows]="7" >
    
    </textarea>
</mat-form-field>   
 
<mat-grid-tile>
    <mat-form-field appearance="outline">
        <mat-label>Tp Ant.</mat-label>
        <textarea matInput 
            placeholder="" 
            formControlName="TpAnt" 
            cdkTextareaAutosize 
            [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7" >
        
        </textarea>
    </mat-form-field>  
</mat-grid-tile>
 
<mat-grid-tile>

    <mat-form-field appearance="outline">
        <mat-label>Fcos</mat-label>
        <textarea matInput 
            placeholder="Fcos." 
            formControlName="Fcos" 
            cdkTextareaAutosize 
            [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7" >
        
        </textarea>
    </mat-form-field>  

</mat-grid-tile>
 
</mat-grid-list>


  <!-- EST -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>EST</mat-label>
    <input matInput placeholder="" formControlName="EST" type="text">
 </mat-form-field>

  <!-- peso -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Peso I    kg</mat-label>
    <input matInput placeholder="" formControlName="PesoKG" type="text">
 </mat-form-field>

  <!-- BMI-->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>BMI</mat-label>
    <input matInput placeholder="BMI" formControlName="BMI" type="text">
 </mat-form-field>

  <!-- Diag -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Diagnóstico</mat-label>
    <input matInput placeholder="" formControlName="Diag" type="text">
 </mat-form-field>

  <!-- PT -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>PT±</mat-label>
    <input matInput placeholder="" formControlName="PT" type="text">
 </mat-form-field>

  <!-- KG(BMI) -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Kg   (BMI)</mat-label>
    <input matInput placeholder="kg (BMI)" formControlName="KG" type="text">
 </mat-form-field>

  <!-- DES -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>DES</mat-label>
    <input matInput placeholder="" formControlName="DES" type="text">
 </mat-form-field>

  <!-- MM -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>MM</mat-label>
    <input matInput placeholder="" formControlName="MM" type="text">
 </mat-form-field>

  <!-- ALM -->
  <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>ALM</mat-label>
    <input matInput placeholder="" formControlName="ALM" type="text">
 </mat-form-field>

   <!-- LON -->
   <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>LON</mat-label>
    <input matInput placeholder="" formControlName="LON" type="text">
 </mat-form-field>

   <!-- CEN -->
   <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>CEN</mat-label>
    <input matInput placeholder="" formControlName="CEN" type="text">
 </mat-form-field>

   <!-- FDS -->
   <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>FDS</mat-label>
    <input matInput placeholder="" formControlName="FDS" type="text">
 </mat-form-field>

   <!-- Dlk -->
   <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Dlk</mat-label>
    <input matInput placeholder="" formControlName="Dlk" type="text">
 </mat-form-field>

   <!-- Like -->
   <mat-form-field class="form-field" floatLabel="auto">
    <mat-label>Like</mat-label>
    <input matInput placeholder="" formControlName="Like" type="text">
 </mat-form-field>




</div>