<div class="example-container">

  <!-- ********************************************************** -->
  <h1>DATOS DEL PACIENTE</h1>
  <h2>Informacion Personal</h2>
  <div [formGroup]="form" class="crea-paciente-details-form">
    <!-- input nombre del paciente -->

    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">
      <mat-grid-tile [colspan]="7">
        <mat-form-field class="form-field example-full-width" floatLabel="auto" hintLabel="Max 60 caracteres">
          <mat-label>Nombre del Paciente</mat-label>
          <input matInput #input maxlength="60" placeholder="Ex. Diana" formControlName="paciente" type="text"
            cellspacing="5">
          <mat-error *ngIf="nombrePaciente.hasError('required')">El nombre es obligatorio</mat-error>
          <mat-error *ngIf="nombrePaciente.hasError('minlength')">El nombre debe tener al menos 5 caracteres</mat-error>
          <mat-error *ngIf="nombrePaciente.hasError('maxlength')">El nombre no debe exceder los 60 caracteres
          </mat-error>

          <mat-hint align="end">
            {{nombrePaciente.value?.length}} /60
          </mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">
        <!-- input edad del paciente -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto" align=" end">
          <mat-label>Edad</mat-label>
          <input matInput placeholder="Ex.18" formControlName="edad" type="text">
          <mat-error *ngIf="nombrePaciente.hasError('required')">Ingresar la edad es obligatorio</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3">
        <!-- fecha -->
        <mat-form-field class="form-field example-full-width">
          <mat-label>Fecha</mat-label>
          <input matInput formControlName="appointment" placeholder="Fecha de Atención"
            [matDatepicker]="appointmentDate">
          <mat-datepicker-toggle matSuffix [for]="appointmentDate">
          </mat-datepicker-toggle>
          <mat-datepicker #appointmentDate>
          </mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">
      <mat-grid-tile [colspan]="3">
        <!-- DNI -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="Ex 11111111" formControlName="DNI" type="text">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">

        <!-- Telefono -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Ex 4416 5390" formControlName="Tel" type="text">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">

        <!-- FNac -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput placeholder="Ex 31/03/1987" formControlName="FNac" type="text">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">

        <!-- cel -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Ex 999 999 999" formControlName="Cel" type="text">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">

      <mat-grid-tile [colspan]="3">
        <!-- Hijos -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>N hijos</mat-label>
          <input matInput placeholder="Hijos" formControlName="Hijos" type="text">
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="9">
        <!-- Domicilio -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Domicilio</mat-label>
          <input matInput placeholder="Ex Calle Juan de ..." formControlName="Domicilio" type="text">
        </mat-form-field>

      </mat-grid-tile>

    </mat-grid-list>





    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">
      <mat-grid-tile [colspan]="6">
        <!-- OCUPACION -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Ocupac</mat-label>
          <input matInput placeholder="Ex Albañil" formControlName="Ocupac" type="text">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3">
        <!-- Gpo -->
        <mat-form-field class="form-field" floatLabel="auto">
          <mat-label>GPO</mat-label>
          <input matInput placeholder="" formControlName="Gpo" type="text">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">

        <!-- EC -->
        <mat-form-field class="form-field" floatLabel="auto">
          <mat-label>EC</mat-label>
          <input matInput placeholder="" formControlName="EC" type="text">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>




    <h2>Antecedentes medicos</h2>

    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">
      <mat-grid-tile [colspan]="8">
        <!-- Alergias -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Alergias</mat-label>
          <input matInput placeholder="sinusitis" formControlName="alergias" type="text">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">

        <!-- MEN -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>MEN</mat-label>
          <input matInput placeholder="" formControlName="MEN" type="text">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">
        <!-- SÑO -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>SÑO</mat-label>
          <input matInput placeholder="" formControlName="SÑO" type="text">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">
      <mat-grid-tile [colspan]="8">
        <!-- Cirugias -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Cirugías</mat-label>
          <input matInput placeholder="" formControlName="Cirugias" type="text">
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">
        <!-- CPO -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>CPO</mat-label>
          <input matInput placeholder="CPO" formControlName="CPO" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">
        <!-- NOC -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>NOC</mat-label>
          <input matInput placeholder="" formControlName="NOC" type="text">
        </mat-form-field>


      </mat-grid-tile>

    </mat-grid-list>




    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">

      <mat-grid-tile [colspan]="8">
        <!-- Ant Fam -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Ant. Fam</mat-label>
          <input matInput placeholder="AntFam" formControlName="AntFam" type="text">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">
        <!-- ANS -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>ANS</mat-label>
          <input matInput placeholder="" formControlName="ANS" type="text">
        </mat-form-field>
      </mat-grid-tile>



      <mat-grid-tile [colspan]="2">
        <!-- CIG -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>CIG</mat-label>
          <input matInput placeholder="" formControlName="CIG" type="text">
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>



    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">




      <mat-grid-tile [colspan]="12">
        <!-- AntPers -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Ant. Pers</mat-label>
          <input matInput placeholder="" formControlName="AntPers" type="text">
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>


    <h2>Detalles de la consulta </h2>

    <mat-grid-list cols="12">
      <mat-grid-tile [colspan]="12" [rowspan]="3" gutterSize="15">
        <mat-form-field class="example-full-width full-heigth">
          <mat-label>Consulta</mat-label>
          <textarea matInput placeholder="" formControlName="Consulta" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7">
        </textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>



    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">

      <mat-grid-tile [colspan]="7">
        <!-- O/S -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>O/S</mat-label>
          <input matInput placeholder="" formControlName="OS" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="5">
        <!-- Diag -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Diagnóstico</mat-label>
          <input matInput placeholder="" formControlName="diag" type="text">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list cols="12">
      <mat-grid-tile [colspan]="12" [rowspan]="3" gutterSize="15">
        <mat-form-field class="example-full-width full-heigth">
          <mat-label>Síntomas</mat-label>
          <textarea matInput placeholder="" formControlName="symptoms" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7">
        </textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12">

      <mat-grid-tile [colspan]="12" [rowspan]="2" gutterSize="15">
        <mat-form-field class="example-full-width full-heigth">
          <mat-label>Signos</mat-label>
          <textarea matInput placeholder="Signos" formControlName="signs" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7">
        </textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>



    <mat-grid-list cols="12">

      <mat-grid-tile [colspan]="12" [rowspan]="2" gutterSize="15">
        <mat-form-field class="example-full-width full-heigth">
          <mat-label>Psique</mat-label>
          <textarea matInput placeholder="Psique" formControlName="psique" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7">
      </textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="12">
      <mat-grid-tile [colspan]="12" [rowspan]="2" gutterSize="15">
        <mat-form-field class="example-full-width full-heigth">
          <mat-label>Tp Ant.</mat-label>
          <textarea matInput placeholder="" formControlName="TpAnt" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7">
        </textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12">
      <mat-grid-tile [colspan]="12" [rowspan]="2" gutterSize="15">
        <mat-form-field class="example-full-width full-heigth">
          <mat-label>Fcos</mat-label>
          <textarea matInput placeholder="Fcos." formControlName="Fcos" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
            [cdkAutosizeMaxRows]="7">
        </textarea>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>





    <h2>Estado nutricional</h2>


    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">

      <mat-grid-tile [colspan]="2">
        <!-- EST -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>EST</mat-label>
          <input matInput placeholder="" formControlName="EST" type="text">
        </mat-form-field>

      </mat-grid-tile>



      <mat-grid-tile [colspan]="2">
        <!-- peso -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto" hintLabel="Kg (BMI)">
          <mat-label>Peso I kg</mat-label>
          <input matInput placeholder="" formControlName="PesoKG" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <!-- <mat-grid-tile [colspan]="2" >
    <mat-form-field class="form-field example-full-width" floatLabel="auto">
      <mat-label>Kg (BMI)</mat-label>
      <input matInput placeholder="kg (BMI)" formControlName="KG" type="text">
    </mat-form-field>

      </mat-grid-tile> -->


      <mat-grid-tile [colspan]="6">

        <!-- Diag -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Diagnóstico</mat-label>
          <input matInput placeholder="" formControlName="diag" type="text">
        </mat-form-field>

      </mat-grid-tile>



      <mat-grid-tile [colspan]="2">
        <!-- PT -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto" hintLabel="Kg (BMI)">
          <mat-label>PT±</mat-label>
          <input matInput placeholder="" formControlName="PT" type="text">
        </mat-form-field>

      </mat-grid-tile>

      <!-- 
          <mat-grid-tile [colspan]="2" >
    <mat-form-field class="form-field example-full-width" floatLabel="auto">
      <mat-label>BMI</mat-label>
      <input matInput placeholder="BMI" formControlName="BMI" type="text">
    </mat-form-field>
        
              </mat-grid-tile> -->

    </mat-grid-list>



    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">


      <mat-grid-tile [colspan]="2">
        <!-- DES -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>DES</mat-label>
          <input matInput placeholder="" formControlName="DES" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">
        <!-- MM -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>MM</mat-label>
          <input matInput placeholder="" formControlName="MM" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">
        <!-- ALM -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>ALM</mat-label>
          <input matInput placeholder="" formControlName="ALM" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">
        <!-- LON -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>LON</mat-label>
          <input matInput placeholder="" formControlName="LON" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">

        <!-- CEN -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>CEN</mat-label>
          <input matInput placeholder="" formControlName="CEN" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">
        <!-- FDS -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>FDS</mat-label>
          <input matInput placeholder="" formControlName="FDS" type="text">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list cols="12" rowHeight="100px" gutterSize="15">

      <mat-grid-tile [colspan]="6">
        <!-- Dlk -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Dlk</mat-label>
          <input matInput placeholder="" formControlName="Dlk" type="text">
        </mat-form-field>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="6">
        <!-- Like -->
        <mat-form-field class="form-field example-full-width" floatLabel="auto">
          <mat-label>Like</mat-label>
          <input matInput placeholder="" formControlName="Like" type="text">
        </mat-form-field>

      </mat-grid-tile>


    </mat-grid-list>



    <!-- radio button -->
    <!-- <mat-radio-group class="gender-type" formControlName="genderype">

    <mat-radio-button value="Masculino">Masculino </mat-radio-button>
<mat-radio-button value="Femenino">Femenino </mat-radio-button>

</mat-radio-group> -->


    <!-- select -->
    <!-- <mat-form-field appearance="fill">
    <mat-select formControlName="genderType" placeholder="Sexo">
        <mat-option >Ninguno</mat-option>
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
    </mat-select>
</mat-form-field> -->

    <mat-grid-list cols="5">

      <!-- textarea -->
      <!-- <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Síntomas</mat-label>
        <textarea matInput placeholder="" formControlName="symptoms" cdkTextareaAutosize [cdkAutosizeMinRows]="5"
          [cdkAutosizeMaxRows]="7">

        </textarea>
      </mat-form-field>
    </mat-grid-tile> -->



    </mat-grid-list>

    <section>
      <div class="example-button-row">
        <button mat-raised-button>Cancelar</button>
        <button mat-raised-button color="primary" (click)="crearPacienteNuevo()">Crear Paciente</button>
      </div>
    </section>


  </div>
