mat-form-field {
    margin-bottom: 16px;
    margin-right:  10 px; /* Agrega espacio entre los formularios */
  }
  mat-radio-button{
    margin-right: 5px;
  }


.example-full-width {
  width: 100%;
}

.full-heigth {
  height: -webkit-fill-available;
}

.example-container {
  margin: 30px 15px
}
