<h1 mat-dialog-title>Editar Paciente</h1>
<div mat-dialog-content>
  <p>Editar los detalles del paciente aquí:</p>
 <!-- form en form Control name y eso asociar con  el form -->


 <form [formGroup]="formulario2"  class="mat-elevation-z8">
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput id="id" formControlName="id" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre del Paciente</mat-label>
    <input matInput id="NombrePaciente" formControlName="NombrePaciente" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>DNI</mat-label>
    <input matInput id="dni" formControlName="dni" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Teléfono</mat-label>
    <input matInput id="Telefono" formControlName="Telefono" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo Electrónico</mat-label>
    <input matInput id="Email" formControlName="Email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Dirección</mat-label>
    <input matInput id="Direccion" formControlName="Direccion" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="editarPaciente()" [disabled]="formulario2.invalid">Editar Paciente</button>
</form>



































  <!-- <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" placeholder="Id">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre del Paciente</mat-label>
    <input matInput [value]="data.paciente.paciente" placeholder="Nombre del Paciente">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Número de DNI</mat-label>
    <input matInput [value]="data.paciente.NumeroDocumento" placeholder="Número de DNI">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput [value]="data.paciente.Num_Cel" placeholder="Teléfono">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [value]="data.paciente.Email" placeholder="Ex. ejemplo@ejemplo.com">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <input matInput [value]="data.paciente.Domicilio" placeholder="Dirección">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="editarPaciente(data.paciente)">Editar Paciente</button>
</div> -->



<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value="Google">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form> -->